<app-page-header [heading]="'Firmy'" [icon]="'fa-table'"></app-page-header>

<button type="button" class="btn btn btn-primary"><i class="fa fa-fw fa-plus"></i> Dodaj</button>

<div class="card-body table-responsive">
  <table class="table table-hover table-striped">
      <thead>
      <tr>
          <th>#</th>
          <th>Nazwa</th>
          <th>Pełna nazwa</th>
          <th>Typ</th>
          <th>Edytuj</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies">
          <th scope="row">{{ company.id}}</th>
          <td>{{ company.shortName }}</td>
          <td>{{ company.name }}</td>
          <td>{{ company.type }}</td>
          <td><i class="fa fa-fw fa-edit"></i></td>
      </tr>
      </tbody>
  </table>
</div>